/*
Author: Santiago Espinosa
Author URI: http://saigesp.es/
Description: CSS Simple framework based on flex boxes
Version: 0.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: saigesp
GitHub URI: https://github.com/Saigesp/Flexboxer

*/


/**
 * RESET
 ***********************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display: block;}
audio,canvas,video {display: inline-block;max-width: 100%;}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust:100%;}
body,button,input,select,textarea {color: #2b2b2b;font-family: Lato, sans-serif;font-size: 16px;font-weight: 400;line-height: 1.5;}
body{background: #f5f5f5;}
a{color: #24890d;text-decoration: none;}
a:focus {outline: 0;}
a:hover,a:active {outline: 0;}
a:active,a:hover {color: #41a62a;}
h1,h2,h3,h4,h5,h6{clear: both;font-weight: 700;margin: 36px 0 12px;}
h1{font-size: 26px;line-height: 1.3846153846;}
h2{font-size: 24px;line-height: 1;}
h3{font-size: 22px;line-height: 1.0909090909;}
h4{font-size: 20px;line-height: 1.2;}
h5{font-size: 18px;line-height: 1.3333333333;}
h6{font-size: 16px;line-height: 1.5;}
address{font-style: italic;margin-bottom: 24px;}
abbr[title]{border-bottom: 1px dotted #2b2b2b;cursor: help;}
b,strong{font-weight: 700;}
cite,dfn,em,i{font-style: italic;}
mark,ins{background: #fff9c0;text-decoration: none;}
p{margin-bottom: 24px;}
code,kbd,tt,var,samp,pre{font-family: monospace, serif;font-size: 15px;-webkit-hyphens: none;-moz-hyphens: none;-ms-hyphens:none;hyphens:none;line-height: 1.6;}
pre{border: 1px solid rgba(0, 0, 0, 0.1);-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom: 24px;max-width: 100%;overflow: auto;padding: 12px;white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
blockquote,q {-webkit-hyphens: none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: "";content: none;}
blockquote {color: #767676;font-size: 19px;font-style: italic;font-weight: 300;line-height: 1.2631578947;margin-bottom: 24px;}
blockquote cite,blockquote small {color: #2b2b2b;font-size: 16px;font-weight: 400;line-height: 1.5;}
blockquote em,blockquote i,blockquote cite {font-style: normal;}
blockquote strong,blockquote b {font-weight: 400;}
small {font-size: smaller;}
big {font-size: 125%;}
sup,sub {font-size: 75%;height: 0;line-height: 0;position: relative;vertical-align: baseline;}
sup {bottom: 1ex;}sub {top: .5ex;}dl {margin-bottom: 24px;}dt {font-weight: bold;}dd {margin-bottom: 24px;}ul,ol {list-style: none;margin: 0 0 24px 20px;}
ul {list-style: disc;}ol{list-style: decimal;}li > ul,li > ol {margin: 0 0 0 20px;}
img {-ms-interpolation-mode: bicubic;border: 0;vertical-align: middle;}
figure{margin: 0;}fieldset {border: 1px solid rgba(0, 0, 0, 0.1);margin: 0 0 24px;padding: 11px 12px 0;}
legend {white-space: normal;}
button,input,select,textarea {-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size: 100%;margin: 0;max-width: 100%;vertical-align: baseline;}
button,input {line-height: normal;}
input,textarea {background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],input[disabled] {cursor: default;}
input[type="checkbox"],input[type="radio"] {padding: 0;}
input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto;vertical-align: top;}
table,th,td {border: 1px solid rgba(0, 0, 0, 0.1);}
table {border-collapse: separate;border-spacing: 0;border-width: 0;margin-bottom: 0;width: 100%;}
caption,th,td {	font-weight: normal;text-align: left;}th {border-width: 0 1px 1px 0;font-weight: bold;}
td {border-width: 0 1px 1px 0;}del {color: #767676;}hr {background-color: rgba(0, 0, 0, 0.1);border: 0;height: 1px;margin-bottom: 23px;}
::selection {background: rgb(40,180,183);color: #fff;text-shadow: none;}
::-moz-selection {background: #24890d;color: #fff;text-shadow: none;}


/**
 * GENERAL
 ***********************************/
html {
	font-size: 62.5%;
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	top: 0;
	left: 0;
}

#wrapper {
	min-height:100%;
	position: relative;
}


/**
 * FLEXBOXER
 *************************************************************************************************/
.flexboxer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flexboxer > .wrap {
    background: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap > .wrap--flex + .wrap--flex {
	margin-top: 10px;
}

.flexboxer > section:last-of-type{
	margin-bottom: 0;
}

.flexboxer .wrap--flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flexboxer .wrap--content {
	padding: 20px;
	flex: 1 0 calc(100% - 40px);
}

.flexboxer .wrap--frame  {
	padding: 0;
    flex: 1 0 100%;
}

.flexboxer .wrap--content__middle, 
.flexboxer .wrap--content__full {
	flex: 1 0 calc(100% - 40px);
	padding: 20px;
}

.flexboxer .wrap--frame__middle, 
.flexboxer .wrap--frame__full {
	flex: 1 0 100%;
	padding: 0;
}

.flexboxer .wrap--frame__middle > .wrap--frame__middle:first-child {
	margin-left: 0;
}

.flexboxer .wrap--frame__decim  {
    flex: 1 1 10%;
}



/* Hidden */
.flexboxer > .wrap--hidden {
	display: none !important;
	position: relative;
}

.flexboxer > .wrap--hidden.active {
	display: block !important;
}


/* Transparent */
.flexboxer .wrap--transparent {
	background-color: transparent !important;
	box-shadow: none !important;
}


/* Collapsable */
.flexboxer > .wrap--collapse {
	height: 22px;
	overflow: hidden;
	position: relative;
}

.flexboxer > .wrap--collapse > h3:first-of-type {
	cursor: pointer;
	margin-top: -3px !important;
	margin-bottom: 30px;
}

.flexboxer > .wrap--collapse.active > h3:first-of-type {
	margin-bottom: 12px;
}

.flexboxer > .wrap--collapse > h3:after{
    content:"";
    position: absolute;
    top:28px;
    right: 22px;
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-top:6px solid black;
    transition: background 350ms ease;
}

.flexboxer > .wrap--collapse > h3:hover:after{
	border-top:6px solid rgba(0,0,0,0.5);
}

.flexboxer > .wrap--collapse.active {
	height: auto;
}

.flexboxer > .wrap--collapse.active > h3:after {
    top:25px;
    right: 19px;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:6px solid black;
}

.flexboxer > .wrap--collapse.active > h3:hover:after{
	border-left:6px solid rgba(0,0,0,0.5);
}





/**
 * MEDIA QUERYS
 *************************************************************************************************/

@media only screen and (min-width : 550px) {

	.flexboxer .wrap--frame__middle {
    	flex: 1 0 50%;
    }
	.flexboxer .wrap--frame__middle + .wrap--frame__middle{
	    flex: 1 0  calc(50% - 10px);
	    margin-left: 10px;
	}
	.flexboxer .wrap--content__middle {
	    flex: 1 0 calc(50% - 40px);
	}
	.flexboxer .wrap--content__middle + .wrap--content__middle{
	    flex: 1 0 calc(50% - 50px);
	    margin-left: 10px;
	}
}

@media only screen and (min-width : 780px) {
	.flexboxer > .wrap {
	    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	}
	.flexboxer .wrap--flex {
	    flex-wrap: nowrap;
	}
	.flexboxer .wrap--content {
	    max-width: 860px;
	    margin: 10px auto;
	}
	.flexboxer .wrap--frame{
	    max-width: 900px;
	    margin: 10px auto;
	}
	.flexboxer .wrap--content__toframe{
	    padding: 0;
	    max-width: 900px;
	}
	.flexboxer .wrap--content__fullwidth {
		width: 100%;
		max-width: calc(100% - 60px);
	}
}