.noise {
	height: 100%;
}

manager-app {
	position: relative;
    width: 100%;
    height: 100%;
}

.wrap--modal {
	position: fixed !important;
	padding: 25px;
	width: ~"calc(70% - 50px)";
	.content h2:first-of-type {
	    margin-top: 0;
	}
}

menu-item-url,
menu-item-pagina-contenido,
menu-item-producto-catalogo,
composition,
composition-row {
	width: 100%;
}

form-item + .wrap--frame {
	margin-top: 10px;
}

composition-row {
	display: flex;
	> div {
		flex: 1 1 100%;
		position: relative;
		+ div {
			.additem--left {
				width: 20px !important;
				left: -10px !important;
			}
			.addsheet--before {
				display: none;
			}
		}
	}
}

.recentAction {
  border-color: red !important;
}

menu-drag {
  position: relative;
  display: block;
}

drop-target.showMe > hr {
	display: block !important;
}

.draggingMe drop-target > hr {
  display: none !important;
}

.scroll-list {
	overflow-y: scroll;
	height: 200px;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #726B7E;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.list {
	width: 100%;
	font-size: 1.4rem;
	line-height: 26px;
		&--middle {
			max-height: 600px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
	}

.sheetinfo {
	 .wrap--frame {
		margin: 0;
		.like {
			width: ~"calc(100% - 50px)";
			&--sep:focus {
				text-transform: none;
			}
		}
	}
	.date {
		color: @button-color-secondary;
		cursor: pointer;
	}

}


@media only screen and (max-width: @query-tablet) {
	.tooltip .tooltiptext {
	    visibility: hidden;
	    width: 300px;
	    background-color: #726B7E;
	    color: #fff;
	    text-align: center;
	    padding: 5px 0;
	    border-radius: 6px;

	    position: absolute;
	    z-index: 1;
	}
}
