mark, ins {
    background: transparent;
    text-decoration: none;
}

#bitnami-banner {
	display: none;
}


a:active,
a:hover {
	color: @button-color-primary;
}


body {
    background: @background-color !important;
}
