@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Oxygen:300,700);

@query-mobile: 		 550px;
@query-tablet:   	 780px;
@query-desktop: 	1120px;
@query-fullscreen:	1440px;

@title-font: 'Oxygen', sans-serif;
@body-font: 'Open Sans', sans-serif;

@header-height: 40px;
@header-height-desktop: 60px;
@footer-height: 40px;

@wrap-content-padding: 20px;

@menu-side-width: 220px;
@buttons-lat-width: 185px;

@background-color: #FFFFFF;
@header-color: transparent;
@menu-color: #FFFFFF;
@sections-color: transparent;

@button-color-primary: #5FD694;
@button-shadow-primary: #46A26F;
@button-hover-primary: #55BD83;
@button-text-primary: #245A3C;

@button-color-secondary: #63C8FF;
@button-shadow-secondary: #3D91D2;
@button-hover-secondary: #49A1E5;
@button-text-secondary: #3179B0;

@alert-color-error: #F96B85;
@alert-color-success: #5FD694;
@alert-color-warning: #FFD478;
@alert-color-info: #F96B85;