@submit-button-min-width: 				220px;

/**
 * FORMS
 ***********************************/
.wrap{
	&--form {
		font-size: 1.6rem;
		input {
			#basicinput;
			&:required{
				&.ng-dirty.ng-invalid,
	      		&.invalid-important {
					border-left: 5px solid red !important;
				}
				&.ng-dirty.ng-valid {
					border-left: 5px solid green;
				}
			}
			&:disabled {
				background: transparent;
				&:hover{
					background: transparent;
				}
			}
		}
		input[type="submit"] {

		}
		input[type="checkbox"] {
			#basiccheckbox;
			+ label {
					#basiccheckboxlabel;
					background-image: @icon-checkbox-grey;
				&:hover {
					background-color: @checkbox-background-hover;
					color: @checkbox-color-hover;
					background-image: @icon-checkbox-white;
				}
				span {
					margin: 0 15px 0 @input-width-min;
				}
				&.remove {
					background-image: @icon-remove-checkbox-grey;
					&:hover {
						background-color: @checkbox-remove-background-hover;
						color: @checkbox-remove-color-hover;
						background-image: @icon-remove-checkbox-white;
						border-color: @checkbox-remove-border-color;
					}
				}
				+ label {
					vertical-align: top;
					a { vertical-align: top;}
				}
			}
			&:focus + label {
				color: @checkbox-color-hover;
				&.remove { color: @checkbox-remove-color-hover; }
			}
			&:checked + label {
				background-color: @checkbox-background-checked;
				background-image: @icon-checkbox;
				border-bottom-width: @button-border-width-checked;
				margin-top: @button-border-width - @button-border-width-checked;
				&.remove {
					background-color: @checkbox-remove-background-checked;
					background-image: @icon-remove-checkbox-white;
				}
			}

		}
		input[type="radio"] {
			#basiccheckbox;
			+ label {
				#basiccheckboxlabel;
				background-image: @icon-radio-grey;
				&:hover {
					background-color: #AAA;
					color: white;
				}
				span {
					margin: 0 15px 0 @input-width-min;
				}
				+ label {
					vertical-align: top;
					a { vertical-align: top;}
				}
			}
			&:focus + label {
				color: @checkbox-color-hover;
			}
			&:checked + label {
				background-color: @checkbox-background-checked;
				background-image: @icon-radio;
				border-bottom-width: @button-border-width-checked;
				margin-top: @button-border-width - @button-border-width-checked;
			}
		}
		input[type="file"] {
			display: none;
			+ label {
				.icon {
					width: @input-height-min;
					height: @input-height-min;
					background-color: @input-background-color;
					&:hover {
						opacity: 0.6;
					}
				}
				+ input {
					width: ~"calc(100% - @{input-height-min} - 4px)";
					margin-left: 4px;
				}
			}
		}
		select{
			#basicinput;
			font-size: 1.6rem;
			width: 100%;
			min-height: @input-height-min + 10px;
			option {
				font-size: inherit;
			}
			&:required.ng-dirty.ng-invalid {
				border-left: 5px solid red;
			}
			&:required.ng-dirty.ng-valid {
				border-left: 5px solid green;
			}
		}
		textarea {
			#basictextarea
		}
		label,
		span {
			min-height: @input-height-min;
			line-height: @input-height-min;
			font-size: inherit;
		}
		label {
			cursor: pointer;
		}
		.alert{
			font-size: 1.4rem;
			&.alert-danger {
				color: red;
			}
		}
		.like {
			display: inline-block;
			width: auto;
			background: transparent;
			padding: 0;
			min-height: initial;
			min-width: initial;
			transition: initial;
			margin: 0;
			&:focus {
    			outline: 0;
			}
			&--sep {	
				vertical-align: middle;
				font-family: @body-font;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 1.4rem;
				letter-spacing: 1px;
			}
		}
	}
	&--submit {
		min-height: @wrap-submit-height-min;
		text-align: right;
		margin-top: 5px;
		&__spaced {
			margin-top: 76px !important;
		}
		.button {
			width: initial;
    		min-width: @submit-button-min-width;
		}
	}
	&--checkbox,
	&--buttons {
		min-height: @wrap-submit-height-min;
	}
}



/**
 * MEDIA QUERYS
 *************************************************************************************************/

@media only screen and (min-width: @query-mobile) {
	.wrap--form {
		input {
			min-width: initial;
		}
		select {
			min-height: @wrap-submit-height-min;
		}
	}
}

@media only screen and (min-width: @query-tablet) {
	.wrap--form {
		input[type="checkbox"] + label,
		input[type="radio"] + label {
			width: auto;
		}
	}
}

@media only screen and (min-width: @query-desktop) {

}

@media only screen and (min-width: @query-fullscreen) {

}