/**
 * FORMS
 ***********************************/
#basicinput() {
	background: rgba(0,0,0,0.1);
	padding: 5px;
	border: 0;
	transition: all 200ms ease;
	min-height: 45px;
	min-width: 45px;
	width: 100%;
	font-size: inherit;
	box-sizing: border-box;
}

#basiccheckboxlabel() {
	display: inline-block;
	height: 45px;
	min-height: initial;
	width: 100%;
	min-width: 45px;
	line-height: normal;
	border-bottom: 5px solid #999;
	background-color: #DDD;
	background-size: 33px;
	background-position-x: 5px;
	background-position-y: center;
	background-repeat: no-repeat;
	overflow: hidden;
	transition: all 200ms ease;
	line-height: 45px;
	font-size: 1.6rem;
}

#basiccheckbox() {
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
}

.wrap{
	&--form,
	.woocommerce-checkout {
		font-size: 1.6rem;
		input {
			#basicinput;
			&:required{
				&.ng-dirty.ng-invalid,
	      &.invalid-important {
					border-left: 5px solid red !important;
				}
				&.ng-dirty.ng-valid {
					border-left: 5px solid green;
				}
			}
		}
		input[type="checkbox"] {
			#basiccheckbox;
			+ label {
					#basiccheckboxlabel;
					background-image: @icon-checkbox-grey;
				&:hover {
					background-color: #AAA;
					color: white;
					background-image: @icon-checkbox-white;
				}
				span {
					margin: 0 15px 0 45px;
				}
			}
			&:focus + label {
				color: white;
			}
			&:checked + label {
				background-color: #BBB;
				background-image: @icon-checkbox;
				border-bottom-width: 1px;
				margin-top: 4px;
			}
		}
		input[type="radio"] {
			#basiccheckbox;
			+ label {
				#basiccheckboxlabel;
				background-image: @icon-radio-grey;
				&:hover {
					background-color: #AAA;
					color: white;
				}
				span {
					margin: 0 15px 0 45px;
				}
			}
			&:focus + label {
				color: white;
			}
			&:checked + label {
				background-color: #BBB;
				background-image: @icon-radio;
				border-bottom-width: 1px;
				margin-top: 4px;
			}
		}
		select{
			#basicinput;
			font-size: 1.6rem;
			width: 100%;
			min-height: 55px;
			option {
				font-size: inherit;
			}
			&:required.ng-dirty.ng-invalid {
				border-left: 5px solid red;
			}
			&:required.ng-dirty.ng-valid {
				border-left: 5px solid green;
			}
		}
		textarea {
			width: 100%;
			border: 0;
			padding: 15px;
			background: rgba(0,0,0,0.1);
			line-height: 2;
		}
		label,
		span {
			min-height: 45px;
			line-height: 45px;
			font-size: inherit;
		}
		label {
			cursor: pointer;
		}
		.alert{
			font-size: 1.4rem;
			&.alert-danger {
				color: red;
			}
		}
	}
	&--submit {
		min-height: 56px;
		text-align: right;
		&__spaced {
			margin-top: 76px !important;
		}
	}
	&--checkbox {
		min-height: 56px;
	}
}


/**
 * MEDIA QUERYS
 *************************************************************************************************/

@media only screen and (min-width: @query-mobile) {
	.wrap--form {
		input {
			min-width: initial;
		}
		select {
			min-height: 45px;
		}
	}
}

@media only screen and (min-width: @query-tablet) {
	.wrap--form {
		input[type="checkbox"] + label,
		input[type="radio"] + label {
			width: auto;
		}
	}
}

@media only screen and (min-width: @query-desktop) {

}

@media only screen and (min-width: @query-fullscreen) {

}