/**
 * SELECT2
 ***********************************/
.select2 {
	&-container {
		.select2-choice {
			background: #DDD;
			border: none;
			border-radius: 0;
		}
	}
	&-drop-active {
		background: #DDD;
		border: 0;
	}
	&-search {
		background: #DDD;
	}
	&-results {
		background: #DDD;
	}
}