@button-width-min:              220px;
@button-border-width:           5px;
@button-border-width-checked:   1px;

@input-width-min:               45px;
@input-height-min:              45px;
@input-background-color:        rgba(0,0,0,0.1);

@checkbox-background-color:     #DDD;
@checkbox-color-color:          #333;
@checkbox-border-color:         #999;

@checkbox-background-hover:     #AAA;
@checkbox-color-hover:          white;
@checkbox-background-checked:   #BBB;

@checkbox-remove-background-color:     #D04;
@checkbox-remove-color-color:          #FFF;
@checkbox-remove-border-color:         #991627;

@checkbox-remove-background-hover:     #FFBEBE;
@checkbox-remove-color-hover:          white;
@checkbox-remove-background-checked:   #991627;

@wrap-submit-height-min:        58px;

#basicbutton() {
	margin: 0;
    padding: 10px 20px;
    min-height: 50px;
    min-width: 100%;
    cursor: pointer;
    border: 0;
    font-size: inherit;
    -webkit-appearance: none;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: @button-text-primary;
    background: @button-color-primary;
    border-bottom: @button-border-width solid @button-shadow-primary;
    text-decoration: none;
    transition: all 200ms ease;
    backface-visibility: hidden;
}

#basicinput() {
    background: @input-background-color;
    padding: 5px;
    border: 0;
    transition: all 200ms ease;
    min-height: @input-height-min;
    min-width: @input-width-min;
    width: 100%;
    font-size: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#basiccheckboxlabel() {
    display: inline-block;
    height: @input-height-min;
    min-height: initial;
    width: 100%;
    min-width: @input-width-min;
    line-height: normal;
    border-bottom: @button-border-width solid @checkbox-border-color;
    background-color: @checkbox-background-color;
    background-size: 33px;
    background-position-x: 5px;
    background-position-y: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 200ms ease;
    line-height: @input-height-min;
    font-size: 1.6rem;
    color: @checkbox-color-color;
}

#basiccheckbox() {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
}

#basictextarea() {
    width: 100%;
    border: 0;
    padding: 15px;
    background: @input-background-color;
    line-height: 2;
}